.hero-background {
    background-image: url('Asset/WechatIMG36.jpg'); /* Update with the correct image path */
    background-size: cover;
    background-position: center center;
    height: 50vh; /* Adjust the height as needed */
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
}

/* Responsive Text Sizes */
@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.1rem;
    }
}

header {
    text-align: center;
    padding: 0.3em;
    background-color: #b0e0e6;
    color: #fff;
    font-size: 0.9em;
}

footer {
    text-align: center;
    padding: 0.5em; /* Reduced padding */
    background-color: #b0e0e6;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center footer content horizontally */
    align-items: center; /* Align footer content vertically */
    flex-wrap: wrap; /* Allows the content to wrap onto the next line on small screens */
    gap: 10px; /* Adds space between contact details */
}

footer span {
    white-space: nowrap; /* Keeps each piece of contact info on one line */
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

.education {
    /* Add any additional styles you need for the education section */
}

.education-entry {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.school-logo {
    width: 100px;
    height: auto;
    margin-right: 40px;
}

.education-text h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.education-text p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.school-website {
    color: #0645AD;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 5px;
}

.school-website:hover {
    text-decoration: underline;
}

.project-title {
    font-size: 24px;
}

.project p {
    text-align: center;
}
